{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2>Get a Stock quote</h2>
    <form action="{{ url_for('quote') }}" method="POST">
        <label for="symbol">Symbol</label>
        <div class="form-group mb-4 mt-5">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Ticker" type="text">
        <button class="btn btn-primary mt-5" type="submit">Get quote</button>
    </form>
    {% if quote %}
        <h3 class="mt-5">{{ quote['name'] }} ({{ quote['symbol'] }})</h3>
        <h4>Price: {{ quote["price"]|usd }}</h4>
    {% endif %}
{% endblock %}